# peritoneum
# Since OAREPL also involves C/C++ and C#, those dependencies would typically be managed separately (e.g., through CMake for C/C++ or NuGet for C#), so they won't be included in the <requirements.txt>
# Python dependencies
# For automation and scripting
requests>=2.32.3,<3.0  # For making HTTP requests # <https://github.com/psf/requests> stable <https://pypi.org/project/requests/#files>
azure-identity>=1.19.0,<2.0  # For Azure authentication # <https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/identity/azure-identity> stable <https://pypi.org/project/azure-identity/#files>
azure-mgmt-resource>=23.2.0,<24.0  # For managing Azure resources # <https://github.com/Azure/azure-sdk-for-python> stable <https://pypi.org/project/azure-mgmt-resource>
boto3>=1.35.83,<2.0  # If you need AWS SDK for Python (optional) # <https://pypi.org/project/boto3/#files>

# Testing frameworks
pytest>=8.3.4,<9.0  # For advanced testing capabilities # <https://pypi.org/project/pytest>
unittest2>=1.1.0,<2.0  # Backport of the built-in unittest module for older Python versions # <https://pypi.org/project/unittest2>
nose2>=0.15.1,<1.3 # nose2's extends unittest to make testing nicer # <https://github.com/nose-devs/nose2/tags>

# Optional: If you plan to use any specific libraries for Bash scripting
# (e.g., subprocess for running shell commands)
# No specific package needed, as subprocess is part of the standard library
# <requirements-optional.txt> file for those.

# Additional libraries can be added as needed
Flask>=3.0,<4.0  # Flask web framework, Allows updates within the 3.x series # <https://flask.palletsprojects.com/en/stable/installation>
SQLAlchemy>=2.0,<3.0  # ORM for database interactions # <https://www.sqlalchemy.org/download.html>
pandas>=2.2,<3.0  # Data manipulation library # <https://pandas.pydata.org/pandas-docs/stable/whatsnew/index.html>
numpy>=2.2,<3.0  # Numerical computing library # <https://numpy.org/install>
gunicorn>=19.9.0,<21.0  # WSGI HTTP server # <https://docs.gunicorn.org/en/stable/install.html>
